* {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, p, ul, figure {
  margin: 0;
  padding: 0; }

html {
  font-size: 10px;
  font-family: "Raleway-Medium"; }

body {
  color: #7a7a7a;
  font-size: 1.4rem;
  margin: 0;
  padding: 0; }

.image {
  display: block;
  max-width: 100%;
  height: auto; }

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.link {
  color: inherit;
  text-decoration: none;
  transition: color .4s; }
  .link:hover, .link:focus {
    color: #1abb9c; }

.section {
  padding-bottom: 7.5rem;
  padding-top: 7.5rem; }
  .section__header {
    color: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 890px;
    margin: 0 auto;
    text-align: center; }
  .section__title {
    color: inherit;
    font-size: 1.6rem;
    font-family: "Raleway-ExtraBold";
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
    text-transform: uppercase; }
    .section__title::before, .section__title::after {
      background-color: #777777;
      content: "";
      position: absolute;
      top: 50%;
      height: 1px;
      width: 80px; }
    .section__title::before {
      left: 0;
      transform: translateX(-100%); }
    .section__title::after {
      right: 0;
      transform: translateX(100%); }
  .section__description {
    margin-bottom: 30px;
    line-height: 1.78; }

@media screen and (max-width: 992px) {
  .section__header {
    max-width: 590px; } }

@media screen and (max-width: 768px) {
  .section {
    padding-bottom: 5rem;
    padding-top: 5rem; }
    .section__title {
      margin-bottom: 15px; } }

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.header-content {
  font-family: "Raleway-Light";
  font-size: 2.5rem;
  padding-bottom: 60px;
  padding-top: 60px; }

.header__title {
  color: #606060;
  font-family: "Raleway-ExtraBold";
  font-size: 3.5rem; }

.header__description {
  padding-top: 8px; }

.header-slider {
  height: 545px;
  list-style: none; }
  .header-slider__wrapper {
    position: relative; }
  .header-slider__item {
    position: relative;
    height: 100%; }
  .header-slider__text {
    position: absolute;
    left: 50px;
    bottom: 50px; }
  .header-slider__title {
    background-color: #fdfdfd;
    display: block;
    font-size: 2rem;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 3px;
    text-transform: uppercase; }
  .header-slider__description {
    background-color: #fdfdfd;
    display: block;
    font-size: 1.6rem;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px; }
  .header-slider-arrow {
    background-color: #fff;
    display: block;
    position: absolute;
    top: 50%;
    left: 20px;
    height: 45px;
    transform: translateY(-50%);
    width: 45px;
    transition: all .4s; }
    .header-slider-arrow:hover, .header-slider-arrow:focus {
      background-color: #1abb9c; }
      .header-slider-arrow:hover .header-slider__svg path, .header-slider-arrow:focus .header-slider__svg path {
        fill: #d0d0d0; }
  .header-slider__svg {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 13px;
    width: 8px;
    transform: translate(-50%, -50%); }
    .header-slider__svg path {
      fill: #656565;
      transition: all .4s; }

.top-panel {
  background-color: #f5f5f5;
  padding-bottom: 30px;
  padding-top: 30px; }

.navigation-list {
  color: #606060;
  display: flex;
  font-family: "Raleway-ExtraBold";
  list-style: none; }
  .navigation-list__link {
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    text-transform: uppercase; }

.logo {
  background-color: #414141;
  border-radius: 50%;
  height: 50px;
  width: 50px; }

.placeholder-arrow {
  display: none; }

@media screen and (max-width: 1200px) {
  .header-content {
    font-size: 2.3rem;
    padding-bottom: 50px;
    padding-top: 50px; }
  .header__title {
    font-size: 3.3rem; }
  .header-slider {
    height: auto;
    list-style: none; }
    .header-slider__title {
      font-size: 1.8rem;
      padding-bottom: 10px;
      padding-top: 10px;
      padding-left: 15px;
      padding-right: 15px; }
    .header-slider__description {
      font-size: 1.5rem;
      padding-bottom: 10px;
      padding-top: 10px;
      padding-left: 15px;
      padding-right: 15px; }
    .header-slider-arrow {
      height: 35px;
      width: 35px; } }

@media screen and (max-width: 768px) {
  .header-content {
    font-size: 2rem;
    padding-bottom: 40px;
    padding-top: 40px; }
  .header__title {
    font-size: 3rem; }
  .header-slider__text {
    left: 10px;
    bottom: 10px; }
  .header-slider__title {
    font-size: 1.6rem; }
  .header-slider__description {
    font-size: 1.4rem; }
  .header-slider-arrow {
    left: 10px; }
  .top-panel {
    padding-bottom: 20px;
    padding-top: 20px; }
  .navigation-list__link {
    font-size: 1.3rem;
    padding-left: 10px;
    padding-right: 10px; } }

@media screen and (max-width: 576px) {
  .header-content {
    font-size: 1.7rem;
    padding-bottom: 30px;
    padding-top: 30px; }
  .header__title {
    font-size: 2.5rem; }
  .header-slider__title {
    font-size: 1.4rem; }
  .header-slider__description {
    font-size: 1.3rem;
    padding-bottom: 10px; }
  .header-slider-arrow {
    display: none; }
  .navigation-list {
    display: none; }
    .navigation-list__link {
      font-size: 1.3rem;
      padding-left: 10px;
      padding-right: 10px; } }

.services-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-right: -15px;
  margin-left: -15px; }
  .services-list__item {
    border: 1px solid #e1e1e1;
    line-height: 1.78;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-right: 15px;
    margin-left: 15px;
    text-align: center;
    width: calc(25% - 30px); }
  .services-list__icon {
    margin-bottom: 25px; }
  .services-list__title {
    color: #606060;
    font-family: "Raleway-ExtraLight";
    font-size: 1.6rem;
    margin-bottom: 15px; }

@media screen and (max-width: 992px) {
  .services-list {
    margin-bottom: -15px; }
    .services-list__item {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 40px;
      padding-bottom: 40px;
      margin-bottom: 15px;
      width: calc(33.333% - 30px); } }

@media screen and (max-width: 768px) {
  .services-list__item {
    width: calc(50% - 30px); }
  .services-list__icon {
    margin-bottom: 15px; } }

@media screen and (max-width: 576px) {
  .services-list__item {
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 30px); }
  .services-list__icon {
    margin-bottom: 10px; } }

.process {
  background-image: url(../images/bg-proc.jpg);
  background-size: cover;
  background-position: top center;
  color: #d0d0d0; }
  .process-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding-left: 25px;
    padding-right: 25px; }
    .process-list__item {
      display: flex;
      align-items: center;
      flex-direction: column;
      max-width: 135px;
      text-align: center; }
      .process-list__item:not(:last-child) .process-list__icon::after {
        background-color: #777777;
        content: "";
        position: absolute;
        top: 50%;
        right: -25px;
        height: 1px;
        width: 190px;
        transform: translateX(100%); }
    .process-list__icon {
      border: 2px solid #1abb9c;
      border-radius: 50%;
      margin-bottom: 15px;
      position: relative;
      height: 95px;
      width: 95px;
      transition: all .4s; }
      .process-list__icon:hover {
        background-color: #1abb9c; }
    .process-list__img {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

@media screen and (max-width: 1200px) {
  .process-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
    padding-right: 0; }
    .process-list__item {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center; }
      .process-list__item:not(:last-child) .process-list__icon::after {
        background-color: #777777;
        content: "";
        position: absolute;
        top: 50%;
        right: -25px;
        height: 1px;
        transform: translateX(100%); }
    .process-list__icon {
      border: 2px solid #1abb9c;
      border-radius: 50%;
      margin-bottom: 15px;
      position: relative;
      height: 95px;
      width: 95px;
      transition: all .4s; }
      .process-list__icon:hover {
        background-color: #1abb9c; }
    .process-list__img {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); } }

@media screen and (max-width: 576px) {
  .process-list__item {
    width: 50%;
    margin-bottom: 15px; } }

@media screen and (max-width: 576px) {
  .process-list {
    justify-content: center; } }

.projects {
  color: #d0d0d0; }
  .projects-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-right: -15px;
    margin-left: -15px; }
    .projects-list__item {
      margin-right: 15px;
      margin-left: 15px;
      text-align: center;
      width: calc(33.333% - 30px); }
    .projects-list__title {
      color: #606060;
      font-family: "Raleway-ExtraLight";
      font-size: 1.5rem;
      padding-top: 15px;
      padding-left: 25px;
      padding-right: 25px;
      text-transform: uppercase; }
    .projects-list__subtitle {
      color: #1abb9c;
      display: block;
      font-size: 1.2rem;
      padding-top: 10px; }
    .projects-list__text {
      padding-top: 15px;
      line-height: 1.78; }

@media screen and (max-width: 992px) {
  .projects-list__text {
    padding-top: 10px; } }

@media screen and (max-width: 860px) {
  .projects-list__item {
    margin-bottom: 15px;
    width: calc(50% - 30px); } }

@media screen and (max-width: 580px) {
  .projects-list__item {
    margin-left: auto;
    margin-right: auto;
    max-width: 370px;
    width: calc(100% - 30px); } }

.testimonials {
  background-image: url(../images/bg12.jpg);
  background-size: cover;
  background-position: top center;
  color: #d0d0d0; }
  .testimonials-list {
    list-style: none; }
    .testimonials-list__item {
      text-align: center;
      line-height: 1.75; }
    .testimonials-list__text {
      font-family: "Raleway-Light";
      font-size: 2rem; }
    .testimonials-list__author {
      color: #1abb9c;
      display: block;
      font-family: "Raleway-ExtraLight";
      font-size: 1.2rem;
      padding-top: 10px;
      text-transform: uppercase; }

@media screen and (max-width: 992px) {
  .testimonials-list__text {
    font-size: 1.7rem; }
  .testimonials-list__author {
    padding-top: 5px; } }

@media screen and (max-width: 992px) {
  .testimonials-list__text {
    font-size: 1.4rem; }
  .testimonials-list__author {
    font-size: 1.1rem; } }

.journals-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-right: -15px;
  margin-left: -15px; }
  .journals-list__item {
    margin-right: 15px;
    margin-left: 15px;
    line-height: 1.78;
    width: calc(33.333% - 30px); }
  .journals-list__info {
    padding-top: 20px; }
  .journals-list__header {
    display: flex; }
  .journals-list__data {
    border: 1px solid #7a7a7a;
    margin-right: 15px;
    text-align: center;
    height: 48px;
    width: 45px; }
  .journals-list__day, .journals-list__month {
    display: block;
    text-transform: uppercase; }
  .journals-list__title {
    color: #7a7a7a;
    font-family: "Raleway-ExtraLight";
    font-size: 1.6rem;
    line-height: 1.625; }
  .journals-list__article, .journals-list__comments {
    color: #1abb9c;
    font-size: 1.2rem;
    line-height: 1.625; }
  .journals-list__article {
    padding-right: 5px;
    margin-right: 5px;
    border-right: 1px solid #1abb9c; }
  .journals-list__description {
    padding-top: 10px; }

@media screen and (max-width: 1200px) {
  .journals-list__info {
    padding-top: 15px; }
  .journals-list__data {
    margin-right: 5px; }
  .journals-list__title {
    font-size: 1.5rem; }
  .journals-list__description {
    padding-top: 5px; } }

@media screen and (max-width: 992px) {
  .journals-list__item {
    max-width: 370px;
    width: calc(50% - 30px); }
  .journals-list__description {
    font-size: 1.3rem; } }

.footer {
  background-color: #373737;
  color: #d0d0d0;
  line-height: 1.7; }
  .footer-container {
    padding-top: 60px;
    padding-bottom: 60px; }
  .footer-list {
    display: flex;
    list-style: none;
    margin-right: -15px;
    margin-left: -15px; }
  .footer-item {
    margin-right: 15px;
    margin-left: 15px;
    width: calc(25% - 30px); }
    .footer-item__title {
      font-family: "Raleway-Bold";
      text-transform: uppercase;
      padding-bottom: 20px; }
    .footer-item___second-part {
      padding-top: 25px; }
  .footer-contacts {
    list-style: none;
    padding-top: 25px; }
    .footer-contacts__link:hover .footer-contacts__icon path, .footer-contacts__link:focus .footer-contacts__icon path {
      fill: #1abb9c; }
    .footer-contacts__icon {
      margin-right: 10px; }
      .footer-contacts__icon path {
        fill: #cacaca;
        transition: all .4s; }
  .footer-twitter {
    list-style: none; }
    .footer-twitter__item:not(:first-child) {
      padding-top: 25px; }
  .footer-posts__list {
    list-style: none; }
  .footer-posts__item:not(:first-child) {
    padding-top: 25px; }
  .footer-posts__date {
    padding-top: 10px;
    font-size: 1.2rem; }
  .footer-copyright {
    background-color: #333333;
    padding-top: 35px;
    padding-bottom: 35px; }

@font-face {
  font-family: "Raleway-Thin";
  src: url("../fonts/Raleway/Thin/Raleway-Thin.eot");
  src: url("../fonts/Raleway/Thin/Raleway-Thin.eot") format("embedded-opentype"), url("../fonts/Raleway/Thin/Raleway-Thin.ttf") format("truetype"), url("../fonts/Raleway/Thin/Raleway-Thin.eot") format("embedded-opentype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Raleway-ExtraLight";
  src: url("../fonts/Raleway/ExtraLight/Raleway-ExtraLight.eot");
  src: url("../fonts/Raleway/ExtraLight/Raleway-ExtraLight.eot") format("embedded-opentype"), url("../fonts/Raleway/ExtraLight/Raleway-ExtraLight.ttf") format("truetype"), url("../fonts/Raleway/ExtraLight/Raleway-ExtraLight.eot") format("embedded-opentype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway/Light/Raleway-Light.eot");
  src: url("../fonts/Raleway/Light/Raleway-Light.eot") format("embedded-opentype"), url("../fonts/Raleway/Light/Raleway-Light.ttf") format("truetype"), url("../fonts/Raleway/Light/Raleway-Light.eot") format("embedded-opentype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Raleway-Regular";
  src: url("../fonts/Raleway/Regular/Raleway-Regular.eot");
  src: url("../fonts/Raleway/Regular/Raleway-Regular.eot") format("embedded-opentype"), url("../fonts/Raleway/Regular/Raleway-Regular.ttf") format("truetype"), url("../fonts/Raleway/Regular/Raleway-Regular.eot") format("embedded-opentype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Raleway-Medium";
  src: url("../fonts/Raleway/Medium/Raleway-Medium.eot");
  src: url("../fonts/Raleway/Medium/Raleway-Medium.eot") format("embedded-opentype"), url("../fonts/Raleway/Medium/Raleway-Medium.ttf") format("truetype"), url("../fonts/Raleway/Medium/Raleway-Medium.eot") format("embedded-opentype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Raleway-SemiBold";
  src: url("../fonts/Raleway/SemiBold/Raleway-SemiBold.eot");
  src: url("../fonts/Raleway/SemiBold/Raleway-SemiBold.eot") format("embedded-opentype"), url("../fonts/Raleway/SemiBold/Raleway-SemiBold.ttf") format("truetype"), url("../fonts/Raleway/SemiBold/Raleway-SemiBold.eot") format("embedded-opentype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Raleway-Bold";
  src: url("../fonts/Raleway/Bold/Raleway-Bold.eot");
  src: url("../fonts/Raleway/Bold/Raleway-Bold.eot") format("embedded-opentype"), url("../fonts/Raleway/Bold/Raleway-Bold.ttf") format("truetype"), url("../fonts/Raleway/Bold/Raleway-Bold.eot") format("embedded-opentype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Raleway-ExtraBold";
  src: url("../fonts/Raleway/ExtraBold/Raleway-ExtraBold.eot");
  src: url("../fonts/Raleway/ExtraBold/Raleway-ExtraBold.eot") format("embedded-opentype"), url("../fonts/Raleway/ExtraBold/Raleway-ExtraBold.ttf") format("truetype"), url("../fonts/Raleway/ExtraBold/Raleway-ExtraBold.eot") format("embedded-opentype");
  font-style: normal;
  font-weight: normal; }
