.journals {
    &-list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin-right: -15px;
        margin-left: -15px;
        &__item {
            margin-right: 15px;
            margin-left: 15px;
            line-height: 1.78;
            width: calc(33.333% - 30px);
        }
        &__info {
            padding-top: 20px;
        }
        &__header {
            display: flex;
        }
        &__data {
            border: 1px solid $textColorDark;
            margin-right: 15px;
            text-align: center;
            height: 48px;
            width: 45px;
        }
        &__day, &__month {
            display: block;
            text-transform: uppercase;
        }
        &__title {
            color: $textColorDark;
            font-family: "Raleway-ExtraLight";
            font-size: 1.6rem;
            line-height: 1.625;
        }
        &__article, &__comments {
            color: $accentColor;
            font-size: 1.2rem;
            line-height: 1.625;
        }
        &__article {
            padding-right: 5px;
            margin-right: 5px;
            border-right: 1px solid $accentColor;
        }
        &__description {
            padding-top: 10px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .journals {
        &-list {
            &__info {
                padding-top: 15px;
            }
            &__data {
                margin-right: 5px;
            }
            &__title {
                font-size: 1.5rem;
            }
            &__description {
                padding-top: 5px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .journals {
        &-list {
            &__item {
                max-width: 370px;
                width: calc(50% - 30px);
            }
            &__description {
                font-size: 1.3rem;
            }
        }
    }
}