.projects {
    color: $textColorLight;
    &-list {
        display: flex;
        list-style: none;
        margin-right: -15px;
        margin-left: -15px;
        &__item {
            margin-right: 15px;
            margin-left: 15px;
            text-align: center;
            width: calc(33.333% - 30px);
        }
        &__title {
            color: $titleColor;
            font-family: "Raleway-ExtraLight";
            font-size: 1.5rem;
            padding-top: 15px;
            padding-left: 25px;
            padding-right: 25px;
            text-transform: uppercase;
        }
        &__subtitle {
            color: $accentColor;
            display: block;
            font-size: 1.2rem;
            padding-top: 10px;
        }
        &__text {
            padding-top: 15px;
            line-height: 1.78;
        }
    }
}